.menu-area{
    background-color: grey;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.menu-item{
    margin-left: 5px;
    margin-bottom: 5px;
}


.panel{
    margin-bottom: 30px;
}

.vcenter {
    vertical-align: middle;
}

/*.collapsing {*/
    /*-webkit-transition: none;*/
    /*transition: none;*/
/*}*/